.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  background-color: #4e4d4a;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
